<div class="container" *ngIf="land != null">
	<a class="btn btn-info m-1" routerLink="/kingdoms/{{ (this._route.paramMap | async)!.get('kingdomName') }}"><< Back to Kingdom</a> <!--Idk if this is the right way to do this-->
	<form class="border border-2 rounded row" [formGroup]="landEditFormGroup" (ngSubmit)="onSubmit()">
		<div class="row">
			<img class="col-3 rounded mx-auto heraldry" src="{{ land.landIconPath ?? 'https://placehold.co/64x64' }}" alt="Kingdom Icon" />
		</div>
        <input class="form-control fs-2 border-4 border-top border-bottom text-center" type="text" formControlName="landName" />
		<h3 class="border-bottom border-2">Description: </h3>
        <textarea rows="4" class="form-control" type="text" formControlName="landDescription" ></textarea>
		<h3 class="border-bottom border-2">Location: </h3>
        <input class="form-control" type="text" formControlName="landLocation" />
		<div class="row">
			<div class="col text-center">
				<h5>Monarch</h5>
				<span>{{ land.monarch ?? "none" }}</span>
			</div>
			<div class="col text-center">
				<h5>Regent</h5>
				<span>{{ land.regent ?? "none" }}</span>
			</div>
			<div class="col text-center">
				<h5>Champion</h5>
				<span>{{ land.champion ?? "none" }}</span>
			</div>
			<div class="col text-center">
				<h5>Prime Minister</h5>
				<span>{{ land.primeMinister ?? "none" }}</span>
			</div>
			<div class="col text-center">
				<h5>GMR</h5>
				<span>{{ land.gmr ?? "none" }}</span>
			</div>
		</div>
        <button class="btn btn-success" type="submit">Confirm Changes</button>
	</form>
</div>